* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Google';
    src: url('images_css/robotto_v18.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body  {
    background-color: #1b1c1c;
    color: #fff;
    height: 100vh;
    font-family: Google;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.nav-links {
    display: flex;
    height: 100%;
    gap: 8px;
}

.nav-links .hamburger {
    height: 100%;
    padding: 12px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links .hamburger:hover {
    cursor: pointer;
    background-color: #3c404388;
}

.nav-links .hamburger img {
    width: 24px;
    height: 24px;
}



.nav-links .logo {
    display: flex;
    gap: 4px;
    align-items: center;
}

.nav-links .logoIcon {
    width: 40px;
    height: 40px;
}

.nav-links .logo .logoTitle {
    font-size: 20px;
}

.profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: red;
    overflow: hidden;
}

.profile img {
    width: 100%;
    height: 100%;
}

.main {
    /* background-color: lightgoldenrodyellow; */
    display: flex;
    flex-grow: 1;
}

.main .sidebar {
    width: 240px;
    padding: 20px;
    font-size: 20px;
    display: block;
}


.main .hide{
    display: none;
}

.main .sidebar .btn-create {
    background-color: #2d3230;
    width: fit-content;
    padding: 16px 18px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}

.main .sidebar .btn-create:hover {
    background-color: #3d4240;
    cursor: pointer;
}

.main .sidebar .all-tasks {
    margin-top: 35px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.main .sidebar .favorites {
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.main .sidebar .lists-dropdown {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main .sidebar .lists-dropdown .reveal {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
}

.main .sidebar .lists-dropdown .reveal:hover {
    background-color: #3d4240;
}

.main .sidebar .lists-dropdown .reveal .reveal-icon {
    width: 20px;
    height: 20px;
    background-image: url("images_css/chevron_down.svg");
}

.main .sidebar .lists-dropdown .reveal .arrow-up {
    background-image: url("images_css/chevron.svg");
}

.main .sidebar .lists-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.main .sidebar .hidden {
    display: none;
}

.main .sidebar .lists-container .list-item {
    display: flex;
    align-items: center;
    gap: 10px;
    user-select: none;
}

.main .sidebar .lists-container .list-item input{
    height: 20px;
    width: 20px;
    border: 1px solid #d3d3d3;
    border-radius: 2px;
    appearance: none;
}



.main .sidebar .lists-container .list-item input:checked{
    background-color: #fff;
}


.main .sidebar .icon {
    width: 20px;
}


.content {
    background-color: #000;
    flex-grow: 1;
}