{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/auth.css'%}">
    <title> Signup </title>
</head>
<body>
    <div class="container">
        <div class="error_frame"></div>

        <form class="form" action="/auth/signup" method="POST">
            <h2 class="title">Creer un compte</h2>
    
            <div class="form_entry">
                <label for="nom">Nom :</label>
                <input type="text" class="form_input" id="nom" name="nom" >
            </div>
    
            <div class="form_entry">
                <label for="email">Email :</label>
                <input type="email" class="form_input" id="eamil" name="email" required>
            </div>
    
            <div class="form_entry">
                <label for="password">Mot de passe :</label>
                <input type="password" class="form_input" id="password" name="password" required>
            </div>
    
            <input type="submit" class="submit_btn" value="S'inscrire"/>
            <div class="form_footer">
                <span>Deja un compte?</span>
                <a href="/login">Se connecter</a>
            </div>
        </form>
    </div>

    <script src="{% static 'js/auth.js' %}" type="text/javascript" ></script>
    <!-- <script src="{% static 'js/debug.js' %}" type="text/javascript"></script> -->
</body>
</html>