<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/auth.css">
    <title> Signup </title>
</head>
<body>
    <form action="" method="post">
        <label for="nom">Nom :</label>
        <input type="text" id="nom", name="nom" >

        <label for="email">Email :</label>
        <input type="email" id="eamil" name="email" required>

        <label for="password">password :</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Submit</button>
    </form>
</body>
</html>